.App{
  position: relative;
}
/* ********** Bootstrap Styles ********** */

/* ********** My Styles ********** */
.active {
  display: grid;
  place-items: center;
  background-color: var(--third-color);
  border-radius: .6rem;
  width: 3rem;
  height: 3rem;
}

.bg-first-color{
  background-color: var(--first-color);
}

.icon{
  font-size: 2rem;
  color: var(--bs-white);
  transition: opacity .3s ease-in-out;
}


.icon:hover{
  color: var(--bs-white);
}

.icon:active {
  color: var(--gray-light-color);
}

.logo{
  width: 5rem;
}


.w-12_5 {
  width: 100% !important;
}







/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .active {
    width: 4rem;
    height: 4rem;
  }

  .curve {
    border-radius: 3rem / 20rem;
  }

  .icon{
    font-size: 2.5rem;
  }
  
  .icon:hover {
    opacity: .7;
  }

  .left-7 {
    left: 6rem;
  }

  .logo {
    width: auto;
  }

  .min-vh-md-100{
    min-height: 100vh;
  }

  .w-7 {
    width: 7rem;
  }
  
  .w-12_5 {
    width: 10rem !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


