/* ********** Custom Properties ********** */
:root {
  --first-color: #145A32;
  --first-alpha-color: #7DCEA0;
  --second-color: #0E6655;
  --second-alpha-color: #73C6B6;
  --third-color: #239B56;
  --third-alpha-color: #82E0AA;
  --text-color: #17202A;
  --gray-dark-color: #424949;
  --gray-color: #707B7C;
  --gray-light-color: #CCD1D1;
  --dark-mode: #34495E;
  --black-dark-mode: #273746;

}

/* ********** Reseteo ********** */
body {
  --bs-body-font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

aside,
main{
  z-index: 1;
}


.black-dark,
.bg-first-color.black-dark,
.bg-third-color.black-dark,
.bg-gradient-green.black-dark{  
  background-color: var(--black-dark-mode);
  background-image: initial;
}

.active-link.black-dark{
  background-color: var(--dark-mode);
}


.dark,
.dark.nav-link.active,
.text-gray-dark-color.dark,
.progress-second-color.dark,
.text-color.dark{
  background-color: var(--dark-mode);
  color: var(--bs-white);
}

span.dark,
.dark.text-first-color{
  color: var(--gray-light-color);
}

.dark.nav-link.active{
  border-bottom: var(--gray-light-color);
}



.light{
  background-color: var(--bs-white);
}

span.light{
  color: var(--second-color);
}

.text-first-color.light{
  color: var(--first-color);
}







