/* ********** Custom Properties ********** */
:root {
  --first-color: #145A32;
  --first-alpha-color: #7DCEA0;
  --second-color: #0E6655;
  --second-alpha-color: #73C6B6;
  --third-color: #239B56;
  --third-alpha-color: #82E0AA;
  --dark-mode-color: #34495E;
  --text-color: #17202A;
  --gray-dark-color: #424949;
  --gray-color: #707B7C;
  --gray-light-color: #CCD1D1;

}

/* ********** Reseteo ********** */
body {
  --bs-body-font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

header,
main{
  z-index: 1;
}

.dark,
.text-gray-dark-color.dark,
.progress-second-color.dark,
.text-color.dark{
  background-color: var(--dark-mode-color);
  color: var(--bs-white);
}

span.dark,
.dark.text-first-color{
  color: var(--gray-light-color);
}



.light{
  background-color: var(--bs-white);
}

span.light{
  color: var(--second-color);
}

.text-first-color.light{
  color: var(--first-color);
}







