/* ********** Custom Properties ********** */
:root {
  --first-color: #145A32;
  --first-alpha-color: #7DCEA0;
  --second-color: #0E6655;
  --second-alpha-color: #73C6B6;
  --third-color: #239B56;
  --third-alpha-color: #82E0AA;
  --dark-mode-color: #34495E;
  --text-color: #17202A;
  --gray-dark-color: #424949;
  --gray-color: #707B7C;
  --gray-light-color: #CCD1D1;


  --bg-color: rgb(245, 245, 245);
  --bg-alpha-color: rgba(245, 245, 245, 0.75);

}

/* ********** Reseteo ********** */
body {
  --bs-body-font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

header,
main{
  z-index: 1;
}




